<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.VotePerDao">
    
    <insert id="insertperon" parameterType="voteper">
        insert into voteper(ip,user_id,vona_id,vote_time) values (#{ip},#{user_id},#{vona_id},#{vote_time})
    </insert>
    
</mapper>